<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--开启缓存注解驱动-->
    <cache:annotation-driven cache-manager="redisCacheManager"/>
    <!--redis key序列化方式-->
    <bean class="org.springframework.data.redis.serializer.StringRedisSerializer" id="stringRedisSerializer"/>
    <!--redis value序列化方式-->
    <bean class="org.springframework.data.redis.serializer.GenericJackson2JsonRedisSerializer" id="genericJackson2JsonRedisSerializer"/>

    <!--对redis操作的对象-->
    <bean class="org.springframework.data.redis.core.RedisTemplate" id="redisTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="keySerializer" ref="stringRedisSerializer"/>
        <property name="valueSerializer" ref="genericJackson2JsonRedisSerializer"/>
    </bean>

    <!---->
    <bean class="org.springframework.data.redis.cache.RedisCacheManager" id="redisCacheManager">
        <!--注入操作对象-->
        <constructor-arg name="redisOperations" ref="redisTemplate" />
        <!--设置默认缓存过期时间-->
        <property name="defaultExpiration" value="30"/>
        <!--管理缓存命名空间-->
        <property name="cacheNames">
            <list>
                <value>Content</value>
            </list>
        </property>
        <!--指定命名空间过期时间-->
        <property name="expires">
            <map>
                <entry key="Content" value="3600"/>
            </map>
        </property>
    </bean>

    <!--引入redis配置文件-->
    <import resource="spring-data-redis-single.xml"/>

</beans>